body {
    background-image: url(../img/index_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}

.full-height {
    background: rgba(26, 26, 26, 0.466);
    background-attachment: fixed;
    max-height: 100vh;
    height: 100vh;


}

table {
    width: 100%;
    padding-top: 5px;

}

.heading-text {
    color: white;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 0;
}

.sub-text2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}


.register-btn {
    background-color: rgba(240, 248, 255, 0.589);
    color: #345cc4;
}


.saha-logo {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: -26px;
    animation: transitionIn-Y-over 0.5s;
}

/* .saha-logo-sub {
    color: rgba(255, 255, 255, 0.733);
    font-size: 12px;

} */

.saha-logo-sub1 {
    width: 280px;
    top: -70px;
    position: relative;
}


.nav-item {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    animation: transitionIn-Y-over 0.5s;
    background: #aa10e7;
    border-radius: 4px;
    padding: 10px 4px;
    margin: 5px;
    font-family: 'Belanosima', sans-serif;
    box-shadow: 0 3px 5px 0 #aa10e7;
    position: relative;
    top: -80px;

}

.nav-item:hover {
    color: #f0f0f0;
    background: #8c0bbe;
    transition: all 0.5s;
    box-shadow: none;
}

.footer-hashen {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 13px;
    animation: transitionIn-Y-over 0.5s;
}

.blur-home {
    background-color: white;
    border-radius: 10px;
}